:root{
    --primary: #ca5bc1ba;
    --primary-darken: #af2cbc;
    --bg: rgb(167, 140, 140);
    --shadow: 2px 0 8px #0000004d;
    --corners: 4px;
    --text-color:  #181717;
    --light: #fdfdfd;
}


body{
    background-color: var(--bg);
    font-family: 'Permanent Marker', cursive;
    font-size: 16pt;
    color: var(--text-color);
}

header{
    margin: 1em 0;
}

img{
    max-height: 100%;
    max-width: 100%;
}

form{
    margin: 0;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text-color);
    outline: none;
    font-size: 14pt;
}

button{
    background-color: var(--primary);
    color: var(--light);
    border: 1px var(--primary-darken);
    border-radius: var(--corners);
    box-shadow: var(--shadow);
    text-transform: uppercase;
    transition: all .2s ease;
    cursor: pointer;
}

button:hover{
    background-color: var(--primary-darken);
}

.balloon{
    height: 120px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
    transition: all .2s ease;
}

.container{
    max-width: 50%;
    margin: auto;
}

.card{
    background-color: rgb(241, 237, 237);
    padding: 1em;
    box-shadow: var(--shadow);
    border-radius: var(--corners);
}

.shadow{
    filter: drop-shadow var(--shadow);
}

.d-flex{
    display: flex;
}

.d-flex.space-between{
    justify-content: space-between;
}

.hidden{
    display: none !important;
}